//! **************************************************************************
// Written by: Map P.20131013 on Sun Apr 19 20:33:58 2015
//! **************************************************************************

SCHEMATIC START;
COMP "DATA<0>" LOCATE = SITE "A2" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "C6" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "B3" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "A3" LEVEL 1;
COMP "DATA<5>" LOCATE = SITE "B4" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "A4" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "C5" LEVEL 1;
COMP "SYNC" LOCATE = SITE "T3" LEVEL 1;
COMP "PWAIT" LOCATE = SITE "F13" LEVEL 1;
COMP "SCLK" LOCATE = SITE "N5" LEVEL 1;
COMP "ASTRB" LOCATE = SITE "B9" LEVEL 1;
COMP "RST" LOCATE = SITE "T15" LEVEL 1;
COMP "RELOJ" LOCATE = SITE "L15" LEVEL 1;
COMP "D1" LOCATE = SITE "R3" LEVEL 1;
COMP "D2" LOCATE = SITE "P6" LEVEL 1;
COMP "PWRITE" LOCATE = SITE "C15" LEVEL 1;
COMP "DSTRB" LOCATE = SITE "A9" LEVEL 1;
SCHEMATIC END;

